:root {
    --grid-columns: 0;
    --grid-rows: 0;
  }

#grid{
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(var(--grid-rows), 10px);
    grid-template-columns: repeat(var(--grid-columns), 10px);
    grid-gap: 0px;
}

.grid-item{
    border: 1px solid black;
}

.grid-item:hover{
    background-color: rgb(247, 3, 3);
}

.grid-size{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#size{
    max-width: 50px;
    min-width: 50px;
    display: flex;
}
