:root {
    --grid-columns: 0;
    --grid-rows: 0;
}

html{
    background-color: rgb(250, 110, 92);
}

.grid-container{
    display: flex;
    justify-content: center;
}
.grid-border{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 50vh;
    width: 50vh;
    min-height: 50px;
    min-width: 50px;
}

#grid{
    display: grid;
    background-color: #ffffff;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-gap: 0px;
    height: 50vh;
    width: 50vh;
    min-height: 50px;
    min-width: 50px;
    justify-content: center;
}

.grid-size{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#size{
    max-width: 50px;
    min-width: 50px;
    display: flex;
}

.slider-container{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 50px;
}

#slider{
    height: 2px;
    width: 300px;
    -webkit-appearance: none; 
    appearance: none;
    background: #000000;
    border-radius: 100px;
}

#slider::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    -webkit-appearance: none; 
    appearance: none;
    background: #000000;
    border-radius: 100px;
}

#slider::-moz-range-thumb {
    width: 100px;
    height: 100px;
    -webkit-appearance: none; 
    appearance: none;
}

#dimensions{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
    flex-wrap: wrap;
}

.button{
    font-size: 20px;
    height: 50px;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    border-radius: 5%;
    color: rgb(250, 110, 92);
    background-color: #ffffff;
    border-width: 1px;
    border-color: #000000;
}

#clear:active{
    color: #000000;
}

#rgb:focus{
    color: #ff9900;
    background-color: #d10000;
    border-color: #920000;
    animation-name: rgb;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes rgb{
    0%{
        background-color: #d10000;
        border-color: #920000;
        color: #ff9900;
    }
    14.3%{
        background-color: #ff9900;
        border-color: #c98900;
        color: #fffb00;
    }
    28.6%{
        background-color: #fffb00;
        border-color: #c4b700;
        color: #009c08;
    }
    42.9%{
        background-color: #009c08;
        border-color: #006d24;
        color: #0099ff;
    }
    57.2%{
        background-color: #0099ff;
        border-color: #005c86;
        color: #3700ff;
    }
    71.5%{
        background-color: #3700ff;
        border-color: #080079;
        color: #9100f1;
    }
    85.8%{
        background-color: #9100f1;
        border-color: #560079;
        color: #d10000;
    }
    100%{
        background-color: #d10000;
        border-color: #920000;
        color: #ff9900;
    }
}

#black:focus{
    color: #ffffff;
    background-color: #000000;
}

#eraser:focus{
    color: #000000;
    background-color: #ff79dd;
}

.color-container{
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5%;
    color: rgb(250, 110, 92);
    background-color: #ffffff;
    border-width: 1px;
    border-color: #000000;
}

#color-picker{
    border-color: #000000;
    border-width: 1px;
    border-radius: 5%;
}